# ===============================
# Python Environment
# ===============================
__pycache__/
.pytest_cache/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# ===============================
# Virtual Environment
# ===============================
venv/
.env/
ENV/
env/
.venv/

# ===============================
# IDE / Editor Config
# ===============================
.vscode/

# ===============================
# Pytest & Cache
# ===============================
.cache/
.pytest_cache/

